@import "../../../styles/base.scss";

.ob_checkbox {
  &:hover{
    cursor: pointer;
  }
  &-input {
    border-width: 2px solid black;
  }
  &-label {
    font-style: italic;
    font-weight: 100;
    word-wrap: break-word;
    padding: 15px;
  }
}
