@import "../../../styles/base.scss";

.OBButton {
  border: none;
  cursor: pointer;
  font-weight: 600;
  height: 45px;
  width: 120px;
  outline: none;
  font-size: 12px;
  padding: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  transition: 0.1s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
  &-primary {
    background-color: $primary-color;
    -webkit-appearance: none;
    
  }
  &-secondary {
    background-color: $secondary-color;
    -webkit-appearance: none;
  }
  &-light {
    background-color: $white;
    -webkit-appearance: none;
    color: $secondary-color;
    &:hover {
      background-color: aliceblue;
    }
  }
  &-disabled{
    opacity: .7;
    &:hover{
      cursor: not-allowed;
    }
  }
}
