$primary-color: #ff0049;
$secondary-color: #002b45;
$terciary-color: #fff1e5;

$white: #ffffff;
$black: #000000;
$blue: #40c3df;
$opacity: #c5d0d3;
$orange: #f75633;


$shadow:-1px -7px 10px -10px rgba(0,0,0,0.62);

$small: 300px;
$medium: 900px;
$min_width_wizart: 85vw;;
