@import "../../../styles/base.scss";

.wizart {
  z-index: 10;
  background-color: #c0cfda;
  padding: 0 0;
  box-shadow: -2px -1px 13px -7px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;

  &-header {
    min-height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c0cfda;
  }

  &-content {
    display: flex;
    flex-direction: column;
    padding: 10px 5vh;
    align-items: center;
    height: auto;
    box-shadow: $shadow;
    position: relative;
    background: $white;
    flex: 1;

    &-footer {
      display: flex;
      flex-direction: column;
      &::before {
        content: "";
        height: 1px;
        background-color: $opacity;
        width: 100%;
        position: relative;
      }
      &-buttons {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &-step-0,
    &-step-1 {
      @media screen and(min-width: $medium) {
        width: $min_width_wizart;
      }
    }
    &-step-2 {
      width: auto;
      height: auto;
      flex-direction: initial;
      padding: 0;
      flex: none;
      background-color: transparent;
    }
  }

  &-hidden {
    box-shadow: none;
    background-color: transparent;
  }

  @media screen and(max-width: $medium) {
    &-step-2 {
      padding: 15px;
    }
    &-header {
      min-width: 90vw;
    }
    &-title {
      display: flex;
      padding-bottom: 5vh;
      justify-content: center;
      align-items: center;
    }
    &-footer {
      padding: 0;
    }
  }
}
