@import "../../styles/base.scss";

$mobile-font-size: 22px;
$desktop-font-size: 18px;

.step_2 {
  display: flex;
  flex-direction: column;

  
  &-main {
    padding: 3vw 0;
    &-description {
      font-size: $desktop-font-size;
      height: auto;
      word-wrap: break-word;
    }
    &-form {
      padding: 10px 0;
      display: flex;
      flex-direction: row;
      &-field {
        align-items: center;
        margin-right: 10vw;
        width: 25vw;
      }
    }
    &-secret {
      font-size: $desktop-font-size;
      height: auto;
      word-wrap: break-word;
    }
  }
  @media screen and(max-width: $medium) {
    padding: 0 ;
    &-main {
      padding: 0;
      &-description {
        font-size: $mobile-font-size;
        text-align: justify;
      }
      &-form {
        flex-direction: column;
        padding:0;
     
        margin-top: 50px;
        &-field {
          margin: 0;
          width: auto;
        }
      }
      &-secret {
        font-size: $mobile-font-size;
      }
    }
  }
}



