@import "../../../styles/base.scss";

.OBHeader {
  h1 {
    font-size: 2rem;
  }
  &::after {
    display: flex;
    content: " ";
    width: 8vh;
    border: 2px solid $blue;
    border-radius: 5px;
    position: relative;
    margin-top: 10px;
  }
  @media screen and(max-width: $medium) {
    h1 {
      font-size: 25px;
    }
  }
}
